html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body.aliconnector {
	margin: 0;
	/* padding: 2px 14px; */
	background: rgb(70,70,70);
	color: white;
	width: 100%;
	height: 100%;
	font-family: Arial;
	overflow: hidden;
}


/*.pages > :not(:last-child) {
    display: none;
}*/

#body {
	overflow: auto;
}

	#body > div {
		background: rgb(50,50,50);
		padding: 20px;
		overflow: hidden;
		margin-bottom: 5px;
		min-height: 60px;
	}

button {
	cursor: pointer;
	background-color: rgb(100,100,100);
	text-decoration: none;
	color: #ccc;
	font-size: 12px;
	border: solid 2px transparent;
	padding: 0;
}


.menubtns {
	margin-top: 5px;
	flex-wrap: wrap;
}

	.menubtns > button {
		outline: none;
		flex-basis: 84px;
		height: 64px;
		margin: 2px;
	}

		.menubtns > button > div {
			display: block;
			position: absolute;
			left: 2px;
			right: 2px;
			bottom: 0px;
			margin: auto;
			text-align: left;
			overflow: hidden;
		}


.pages {
	background: inherit;
}

	.pages > div {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: auto;
		background: inherit;
	}

		.pages > div > div {
			background: rgb(40,40,40);
			padding: 20px;
			margin: 20px 0;
		}

form.init > * {
	display: block;
	width: 100%;
}

form.init .label {
	font-size: 10pt;
	margin: 10px 0 5px 0;
}

form.init input {
	display: block;
	width: 100%;
	padding: 5px;
	border: none;
	background: rgb(100,100,100);
	color: white;
}

form.init button {
	padding: 5px;
}

.menubtns > button:hover {
	border-color: rgb(167,167,167);
}

input.aim[type=checkbox] {
	width: 0;
	height: 0;
}

	input.aim[type=checkbox] + label::before {
		content: '';
		font-family: 'AliconnectIcon';
		text-align: center;
		line-height: 16px;
		display: inline-block;
		width: 16px;
		height: 16px;
		border: solid 1px #666;
		border-radius: 2px;
		margin-right: 5px;
		vertical-align: text-bottom;
	}

	input.aim[type=checkbox]:checked + label::before {
		content: '\e001' !important;
		color: white;
		font-weight: bold;
		background: green;
		border-color: green;
	}

	input.aim[type=checkbox]:hover + label::before {
	}

input.aim[type=radio] {
	width: 0;
	height: 0;
}

	input.aim[type=radio] + label::before {
		content: '\e071';
		font-family: 'AliconnectIcon';
		text-align: center;
		display: inline-block;
		margin-right: 5px;
	}

	input.aim[type=radio]:checked + label::before {
		content: '\e06f' !important;
		color: white;
	}

	input.aim[type=radio]:hover + label::before {
	}

.slider {
	width: 100%;
	height: 100%;
	padding: 20px;
}


	.slider .col.aco {
		height: 30%;
		background: #333;
		margin-bottom: 20px;
		padding: 20px;
	}

	.slider .image {
		height: 30%;
		width: 30%;
		margin-right: 20px;
		object-fit: cover;
		overflow: hidden;
	}

		.slider .image img {
			object-fit: cover;
			height: 100%;
		}

	.slider .title {
		font-family: "Segoe UI Light";
		margin-bottom: 20px;
		font-size: 30pt;
	}

	.slider .summary {
		padding: 20px;
		background: #333;
	}

.panel > div > div {
	line-height: 26px;
	max-width: 400px;
}

	.panel > div > div > input {
		float: right;
	}
